.header{
    padding: 31px 0;
    background-color: #E1EDE6;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    border-bottom: #598d66 2px solid;

    @media screen and (max-width: 500px) {
        padding: 15px 0px;
    }

    &-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-logo{
        width: 143px;
        height: 35px;

        img{
            width: 100%;
            height: 100%;
        }
    }
    &-nav{
        display: flex;
        align-items: center;
        column-gap: 60px;

        @media screen and (max-width: 500px) {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 30px;
        }

        a{
            position: relative;
            color: #2c2d35;
            font-size: 20px;
            transition: all 0.2s ease-in-out;
            font-weight: 500;
            @media screen and (max-width: 500px) {
              display: none;
            }

            &:hover{
                color: #598d66;
            }
            &::before{
                position: absolute;     
                content: '';
                width: 100%;
                height: 1.8px;
                background: #598d66;
                top: 100%;
                left: 0;
                pointer-events: none;
                transform-origin: 100% 50%;
                transform: scale3d(0, 1, 1);
                transition: transform 0.3s;
            }
            &:hover::before{
                transform-origin: 0% 50%;
                transform: scale3d(1, 1, 1);
            }
        }
        svg{
            &:hover{
                circle,path{
                    fill: #598d66;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}
.menu-burger{
  display: none;

  @media screen and (max-width: 500px) {
    display: block;
  }
}